/** all **/
html * {
   margin: 0;
   padding: 0;
}

/** element **/
button,
input[type=button] {
   margin: 5px;
   padding: 5px;
   background-color: white;
   color: gray;
}
button:hover,
input[type=button]:hover {
   background: gray;
   color: white;
}

/** common **/
.c-center { text-align: center; }
.c-fg-gray { color: gray; }
.c-bg-gray { background-color: gray; }

/** header **/
.c-header {
   border: lightgray 1px solid;
   border-radius: 0 0 10px 10px;
   padding: 2vh 2vw;
}
.c-header:hover {
   box-shadow: lightgray 2px 2px 2px 2px;
}

/** main **/
.c-main {
   padding: 2vh 2vw;
   margin-bottom: 25px;
}

.c-main hr {
   margin: 5px;
}

.c-main .c-property {
   padding: 5px;
}
.c-main .c-property input[type=checkbox] {
   display: none;
}
.c-main .c-property input[type=checkbox]+label {
   user-select: none;
}
.c-main .c-property input[type=checkbox]:checked+label {
   color: black;
}
.c-main .c-property input[type=checkbox]:not(:checked)+label {
   color: lightgray;
   text-decoration: line-through;
}

.c-main .c-content {
   position: relative;
   min-height: 150px;
}

.c-main .c-content .c-content-table {
   max-width: 100vw;
   overflow-x: auto;
}

.c-main .c-content .c-content-table table#c-table {
   border-collapse: collapse;
}

.c-main .c-content .c-content-table table#c-table tr {
   min-height: 25px;
   height: 25px;
}

.c-main .c-content .c-content-table table#c-table td {
   min-height: 25px;
   min-width: 25px;
   border: darkgray 1px solid;
   box-sizing: border-box;
}

.c-main .c-content .c-content-table table#c-table[te-top-as-header='true'] tr:nth-of-child(1) {
   background-color: lightgray;
}

.c-main .c-content .c-buttons {
   position: absolute;
   top: 0;
   right: 0;
}
.c-main .c-content .c-buttons input[type=button] { }
.c-main .c-content .c-buttons button {
   display: block;
}

@media (max-width: 600px) {
   .c-main .c-content .c-buttons button {
      width: 35px;
   }
   .c-main .c-content .c-buttons button[c-short-text]::after {
      content: attr(c-short-text);
   }
}
@media (min-width: 600px) {
   .c-main .c-content .c-buttons button {
      width: 120px;
   }
   .c-main .c-content .c-buttons button[c-wide-text]::after {
      content: attr(c-wide-text);
   }
}

.c-main textarea#c-input,
.c-main textarea#c-output {
   min-width: 100%;
   max-width: 100%;
   min-height: 28px;
}

/** footer **/
.c-footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
}
.c-footer:hover {
   box-shadow: gray 5px 5px 5px 5px;
}

.c-footer #c-query {
   min-height: 24px;
   border: lightgray 1px solid;
   border-radius: 5px;
   background-color: white;
}

